Create: Lookup on PyPi for new CT version

**Associated Template/Command/Core**
Create

**Describe the bug**
Creating a template results in a stacktrace if Connection timed out
```
│ File "/usr/lib/python3.7/urllib/request.py", line 1319, in do_open           │
│    1316         try:                                                         │
│    1317             try:                                                     │
│    1318                 h.request(req.get_method(), req.selector, req.data,  │
│         headers,                                                             │
│  ❱ 1319                           encode_chunked=req.has_header('Transfer-enc│
│         oding'))                                                             │
│    1320             except OSError as err: # timeout error                   │
│    1321                 raise URLError(err)                                  │
│    1322             r = h.getresponse()                                      │
│ File "/usr/lib/python3.7/http/client.py", line 1252, in request              │
│    1249     def request(self, method, url, body=None, headers={}, *,         │
│    1250                 encode_chunked=False):                               │
│    1251         """Send a complete request to the server."""                 │
│  ❱ 1252         self._send_request(method, url, body, headers,               │
│         encode_chunked)                                                      │
│    1253                                                                      │
│    1254     def _send_request(self, method, url, body, headers,              │
│         encode_chunked):                                                     │
│    1255         # Honor explicitly requested Host: and Accept-Encoding:      │
│         headers.                                                             │
│ File "/usr/lib/python3.7/http/client.py", line 1298, in _send_request        │
│    1295             # RFC 2616 Section 3.7.1 says that text default has a    │
│    1296             # default charset of iso-8859-1.                         │
│    1297             body = _encode(body, 'body')                             │
│  ❱ 1298         self.endheaders(body, encode_chunked=encode_chunked)         │
│    1299                                                                      │
│    1300     def getresponse(self):                                           │
│    1301         """Get the response from the server.                         │
│ File "/usr/lib/python3.7/http/client.py", line 1247, in endheaders           │
│    1244             self.__state = _CS_REQ_SENT                              │
│    1245         else:                                                        │
│    1246             raise CannotSendHeader()                                 │
│  ❱ 1247         self._send_output(message_body,                              │
│         encode_chunked=encode_chunked)                                       │
│    1248                                                                      │
│    1249     def request(self, method, url, body=None, headers={}, *,         │
│    1250                 encode_chunked=False):                               │
│ File "/usr/lib/python3.7/http/client.py", line 1026, in _send_output         │
│    1023         self._buffer.extend((b"", b""))                              │
│    1024         msg = b"\r\n".join(self._buffer)                             │
│    1025         del self._buffer[:]                                          │
│  ❱ 1026         self.send(msg)                                               │
│    1027                                                                      │
│    1028         if message_body is not None:                                 │
│    1029                                                                      │
│ File "/usr/lib/python3.7/http/client.py", line 966, in send                  │
│     963                                                                      │
│     964         if self.sock is None:                                        │
│     965             if self.auto_open:                                       │
│  ❱  966                 self.connect()                                       │
│     967             else:                                                    │
│     968                 raise NotConnected()                                 │
│     969                                                                      │
│ File "/usr/lib/python3.7/http/client.py", line 1422, in connect              │
│    1419                 server_hostname = self.host                          │
│    1420                                                                      │
│    1421             self.sock = self._context.wrap_socket(self.sock,         │
│  ❱ 1422                                                   server_hostname=ser│
│         ver_hostname)                                                        │
│    1423                                                                      │
│    1424     __all__.append("HTTPSConnection")                                │
│    1425                                                                      │
│ File "/usr/lib/python3.7/ssl.py", line 423, in wrap_socket                   │
│     420             suppress_ragged_eofs=suppress_ragged_eofs,               │
│     421             server_hostname=server_hostname,                         │
│     422             context=self,                                            │
│  ❱  423             session=session                                          │
│     424         )                                                            │
│     425                                                                      │
│     426     def wrap_bio(self, incoming, outgoing, server_side=False,        │
│ File "/usr/lib/python3.7/ssl.py", line 870, in _create                       │
│     867                     if timeout == 0.0:                               │
│     868                         # non-blocking                               │
│     869                         raise ValueError("do_handshake_on_connect    │
│         should not be specified for non-blocking sockets")                   │
│  ❱  870                     self.do_handshake()                              │
│     871             except (OSError, ValueError):                            │
│     872                 self.close()                                         │
│     873                 raise                                                │
│ File "/usr/lib/python3.7/ssl.py", line 1139, in do_handshake                 │
│    1136         try:                                                         │
│    1137             if timeout == 0.0 and block:                             │
│    1138                 self.settimeout(None)                                │
│  ❱ 1139             self._sslobj.do_handshake()                              │
│    1140         finally:                                                     │
│    1141             self.settimeout(timeout)                                 │
│    1142                                                                      │
╰──────────────────────────────────────────────────────────────────────────────╯
timeout: _ssl.c:1059: The handshake operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
╭──────────────────────────────────────────────────────────────────────────────╮
│ File "/usr/local/bin/cookietemple", line 11, in <module>                     │
│     8 if __name__ == '__main__':                                             │
│     9     sys.argv[0] = re.sub(r'(-script\.pyw?|\.exe)?$', '', sys.argv[0])  │
│    10     sys.exit(                                                          │
│  ❱ 11         load_entry_point('cookietemple==0.1.0', 'console_scripts',     │
│       'cookietemple')()                                                      │
│    12     )                                                                  │
│ File "/usr/local/lib/python3.7/dist-packages/cookietemple-0.1.0-py3.7.egg/coo│
│kietemple/cookietemple_cli.py", line 40, in main                              │
│     37     click.echo()                                                      │
│     38                                                                       │
│     39     # Is the latest cookietemple version installed? Upgrade if not!   │
│  ❱  40     if not UpgradeCommand.check_cookietemple_latest():                │
│     41         click.echo(click.style('Run ', fg='blue') +                   │
│        click.style('cookietemple upgrade ', fg='green') + click.style('to get│
│        the latest version.'))                                                │
│     42     cookietemple_cli()                                                │
│     43                                                                       │
│ File "/usr/local/lib/python3.7/dist-packages/cookietemple-0.1.0-py3.7.egg/coo│
│kietemple/upgrade/upgrade.py", line 40, in check_cookietemple_latest          │
│    37             # It is impossible to access file:// or ftp://             │
│    38             # See: https://stackoverflow.com/questions/48779202/audit-u│
│       rl-open-for-permitted-schemes-allowing-use-of-file-or-custom-schemes   │
│    39             req =                                                      │
│       urllib.request.Request('https://pypi.org/pypi/cookietemple/json')  #   │
│       nosec                                                                  │
│  ❱ 40             with urllib.request.urlopen(req, timeout=1) as response:  #│
│       nosec                                                                  │
│    41                 contents = response.read()                             │
│    42                 data = json.loads(contents)                            │
│    43                 latest_pypi_version = data['info']['version']          │
│ File "/usr/lib/python3.7/urllib/request.py", line 222, in urlopen            │
│     219         _opener = opener = build_opener()                            │
│     220     else:                                                            │
│     221         opener = _opener                                             │
│  ❱  222     return opener.open(url, data, timeout)                           │
│     223                                                                      │
│     224 def install_opener(opener):                                          │
│     225     global _opener                                                   │
│ File "/usr/lib/python3.7/urllib/request.py", line 525, in open               │
│     522             meth = getattr(processor, meth_name)                     │
│     523             req = meth(req)                                          │
│     524                                                                      │
│  ❱  525         response = self._open(req, data)                             │
│     526                                                                      │
│     527         # post-process response                                      │
│     528         meth_name = protocol+"_response"                             │
│ File "/usr/lib/python3.7/urllib/request.py", line 543, in _open              │
│     540                                                                      │
│     541         protocol = req.type                                          │
│     542         result = self._call_chain(self.handle_open, protocol,        │
│         protocol +                                                           │
│  ❱  543                                   '_open', req)                      │
│     544         if result:                                                   │
│     545             return result                                            │
│     546                                                                      │
│ File "/usr/lib/python3.7/urllib/request.py", line 503, in _call_chain        │
│     500         handlers = chain.get(kind, ())                               │
│     501         for handler in handlers:                                     │
│     502             func = getattr(handler, meth_name)                       │
│  ❱  503             result = func(*args)                                     │
│     504             if result is not None:                                   │
│     505                 return result                                        │
│     506                                                                      │
│ File "/usr/lib/python3.7/urllib/request.py", line 1362, in https_open        │
│    1359                                                                      │
│    1360         def https_open(self, req):                                   │
│    1361             return self.do_open(http.client.HTTPSConnection, req,    │
│  ❱ 1362                 context=self._context,                               │
│         check_hostname=self._check_hostname)                                 │
│    1363                                                                      │
│    1364         https_request = AbstractHTTPHandler.do_request_              │
│    1365                                                                      │
│ File "/usr/lib/python3.7/urllib/request.py", line 1321, in do_open           │
│    1318                 h.request(req.get_method(), req.selector, req.data,  │
│         headers,                                                             │
│    1319                           encode_chunked=req.has_header('Transfer-enc│
│         oding'))                                                             │
│    1320             except OSError as err: # timeout error                   │
│  ❱ 1321                 raise URLError(err)                                  │
│    1322             r = h.getresponse()                                      │
│    1323         except:                                                      │
│    1324             h.close()                                                │
╰──────────────────────────────────────────────────────────────────────────────╯
URLError: urlopen error _ssl.c:1059: The handshake operation timed out
```


**To Reproduce**
Steps to reproduce the behavior:
1. Run `cookietemple create`
2. See error

**Expected behavior**
No stacktrace and status/info message for user